@import "tachyons.min";

/**
* Variables
*/
$color-white: #fff;
$color-mercury: #e5e5e5;
$color-gray: #7f7f7f;

/**
* Images
*/




/**
* Figures
*/




/**
* Lists
*/




/**
* Headings
*/

/**
* Paragraphs
*/
section article p {
  @extend .lh-copy, .measure;
}



/**
* Links
*/
.pagination a:link {
  text-decoration: underline;
}

/**
* Blockquotes
*/
blockquote {
  padding: 0 1rem;
  color: $color-gray;
  border-left: .25rem solid $color-mercury;
  font-size: 1.125rem;
  margin: 0;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
* Tables
*/
table {
  border-collapse: collapse;
  border-spacing: 0
}

:not(.highlight)>table {
  margin: 0 auto 1.5em auto
}

:not(.highlight)>table tr {
  background-color: $color-white;
  border-top: 0.0625em solid $color-gray;
}

:not(.highlight)>table tr th, :not(.highlight)>table tr td {
  padding: 0.5em 0.5em;
  border: 0.0625em solid $color-mercury;
}

:not(.highlight)>table tr th {
  font-weight: bold;
}

/**
* Code formatting
*/
code {
  font-family: Menlo,monaco,monospace;
  padding: 0.25rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem
}

/**
* Wrapper
*/




/**
* Clearfix
*/




/**
* Icons
*/
